body{
    background-color: #004aad;
    color: white;
    font-family: Arial, sans-serif;
    max-width: 1300px;
    margin: 0 auto;
    padding: 15px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#title{
    flex-direction: column;
    line-height: 10px;
}

li{
    display:inline-block;
    margin: 50px;
    font-size: 20px;
}

a{
    color:white;
}
a:hover{
    color:  rgb(132, 12, 201);
    transition: 0.3s all;
}
#inscreva-se-btn{
    border: 5px solid rgb(132, 12, 201);
    padding:10px;
    border-radius:20px ;
}

#inscreva-se-btn:hover{
    background-color: rgb(132, 12, 201);
    color: white;
}

h1{
    font-weight: 2000;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    gap: 100px;
    width: 100%;
}
h2{
    font-size: 56px;
    line-height: 50px;
    font-family: Arial, sans-serif;
}

span{
    color: rgb(132, 12, 201);
}

p{
    line-height: 30px;
    max-width:700px;
    font-family:Arial, sans-serif;
    font-size: 26px;
}
img{
    width: 450px;
    margin-left: 0;
}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
    
}

#botao-inscricao {
    height: 60px;
    width: 200px;
    background-color: rgb(132, 12, 201);
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    display: inline-block;
    text-align: center;
    line-height: 60px; /* centraliza verticalmente */
    text-decoration: none;
    cursor: pointer;
}

#botao-inscricao:hover {
    background-color: rgb(115, 26, 167);
}



input{
    margin-top: 50px;
    height: 50px;
    padding: 20px;
    border-radius: 20px;
    border: none;
    font-size: 20px;
}

@media  (max-width:1100px){
    header{
        flex-direction: column;
    }

    main{
        flex-direction: column;
    }
    h2{
        font-size: 38px;
    }
    form{
        margin: 0 auto;
    }
    input{
        align-self: center;
    }
    img{
        width: 360px;
    }
    ul{
        text-align: center;

    }


}